<h1>New user_benefit_preferences</h1>

<% form_for(@user_benefit_preferences) do |f| %>
  <%= f.error_messages %>

  <p>
   	 <%=f.label :user %><br />
  	<%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to l(:add_user), new_user_path %>
  </p>
  <p>
   	 <%=f.label :benefit %><br />
 	<%= f.collection_select :benefit_id, @benefits, :id, :name %>
	<br>
	<%= link_to l(:add_benefit), new_benefit_path %>
  </p>
  <p>
    <%= f.label :benefit_preference %><br />
    <%= f.text_field :benefit_preference %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_benefit_preferences_path %>
