<h1>Listing job_application_statuses</h1>

<table>
  <tr>
    <th>Job application</th>
    <th>Job application state</th>
    <th>Note</th>
  </tr>

<% for job_application_status in @job_application_statuses %>
  <tr>
    <td><%=h job_application_status.job_application_id %></td>
    <td><%=h job_application_status.job_application_state_id %></td>
    <td><%=h job_application_status.note %></td>
    <td><%= link_to 'Show', job_application_status %></td>
    <td><%= link_to 'Edit', edit_job_application_status_path(job_application_status) %></td>
    <td><%= link_to 'Destroy', job_application_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job_application_status', new_job_application_status_path %>
