<fieldset>
<div class="progressbar"><%=l(:spread_the_word)%><div class="progresscounter"><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div>
<div class="progresswording"><%=l(:professional, :progress_wording_four)%></div></div>
</div>
<p><%=l(:invites_instructions)%></p>  
<a id="plaxo_link" href="#" onclick="showPlaxoABChooser('invite_recipient_list', '/invites/address_popup'); return false"><img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a>
<ul>
<% form_for @invite, :url => { :action => :create_invites} do |f| %>
	<li><%=l(:invites_send)%>:
	<%= f.text_field "recipient_list" %>
	<%= submit_tag%></li>
</ul>	
<% end %>
</fieldset>