<div id= "frontpagewrapper">

		<h1>Finding you the IT right people</h1>
		<div id ="mainpage">
    <br><br>
    <div id="needsbullets">
    <ul>
      <li><b>The Best Candidates-</b> No recruitment agencies means more experienced jobseekers. </li>
      <li><b>The Best Details-</b> Detailed skills and personality profiles, plus full CV, portfolio and code samples for all candidates. </li>
      <li><b>The Best Tools-</b> Skills based searching, candidate contact messenger, and activity tracker.</li>
 
      </ul>
    </div></div></div>


<div id ="productshot">
<img src="/productshot.png">
</div>
<fieldset>
<Legend>Want to give it a try?</legend>
<p>We'd be happy to send you on further information or arrange a trial, just drop us a line:</p>
<% form_for(:inquiry, :url => {:action => :send_employer_inquiry}) do |form| %>
<p>
   <label for="name">Your Name:</label><br />
   <%= form.text_field :name %>
 </p>
 <p>
    <label for="company">Company Name:</label><br />
    <%= form.text_field :company %>
  </p>
  <p>
     <label for="email">Your email:</label><br />
     <%= form.text_field :email %>
   </p>
   <p>
      <label for="phone">Your phone number:</label><br />
      <%= form.text_field :phone %>
    </p>
  <p>
    <p>Please add any specific question you have, and let us know if there's a best time to reach you:<p><br />
    <%= form.text_area :notes %>
  </p>
    <%= form.submit "Send" %>
  </p>
</fieldset>
  
<% end %>
</div>