
<% form_for(:professional, :url => {:controller => "it-professionals", :action => :save_changed_password}) do |form| %>
<div class="error-messages" id="error-messages-for-professional-change-password">
	<%=form.error_messages%>
</div>

<fieldset>
<legend>Need to change your password?</legend>
<p>Enter your new password below:

<ul>
  <li>
		<label for="professional[name]">Name:</label>
		<%= form.text_field "name" %>
	</li>
	<li>
		<label for="professional[password]">Password:</label>
		<%= form.password_field 'password' %>
	</li>
	<li>
		<label for="professional[password_confirmation]">Password confirmation:</label>
		<%= form.password_field 'password_confirmation'%>
	</li>
	
	</ul>
	<br>

	<%= submit_tag "set new password"%>

</fieldset>
<% end %>
