
<div id="newsfeed">

		<h1><%=l(:professional, :welcome)%></h1>
		
    <p><%=l(:professional, :thanks_text)%></p>
    <p><%=l(:professional, :meantime_text)%>:</p>
    <ul>
    <li><%=l(:professional, :answer)%> <a href="/three_questions/start"><%=l(:professional, :three_questions)%></a> <%=l(:professional, :know_you)%></li>
    <li><%=l(:professional, :work_samples)%> <a href="/portfolio/links"><%=l(:professional, :portfolio)%></a> <%=l(:professional, :interview_request)%></li>
    <li><a href="/invites/import_addresses/"><%=l(:professional, :pass_it_on)%></a>- <%=l(:professional, :let_your_friends)%></li>
    <li>Answer <%= link_to "Three Questions", :controller => :three_questions, :action => :commence %> employers might ask you in a phone screen or interview. </li>
    </ul>
    
    </div>		

		

			<div id="startpage">

				<H1><%=l(:professional, :start_welcome)%></h1>
					
					<fieldset>
						<Legend><%=l(:professional, :coming_soon)%></legend>
						<p><%=l(:professional, :migration_complete)%></p>
						<p><%=l(:professional, :input)%> <a href="/contacts/new"><%=l(:professional, :drop_us_a_line)%></a> <%=l(:professional, :suggestions)%>  </p>
					</fieldset>
					
			
					
						</div>


