<% form_for(:professional, :url => {:action => :create}) do |form| %>
<div class="error-messages" id="error-messages-for-professional-signup">
	<%=form.error_messages%>
</div>
<fieldset>
<legend>Personal Details</legend>
<p>Your name and contact information are stored confidentially until you agree to interview with an employer.</p>
<ul>
	<li>
		<label for="professional[name]"><%=l(:professional, :name)%></label>
		<%= form.text_field "name" %>
	</li>
	<li>
		<label for="professional[email]"><%=l(:professional, :email)%></label>
		<%= form.text_field 'email' %>
	</li>
	<li>
		<label for="professional[email_confirmation]"><%=l(:professional, :email_confirmation)%></label>
		<%= form.text_field 'email_confirmation' %>
	</li>
	<li>
		<label for="professional[password]"><%=l(:professional, :password)%></label>
		<%= form.password_field 'password' %>
	</li>
	<li>
		<label for="professional[password_confirmation]"><%=l(:professional, :password_confirmation)%></label>
		<%= form.password_field 'password_confirmation'%>
	</li>
	<li>
		<label for="professional[code_name]"><%=l(:professional, :code_name)%></label>
		<%= form.text_field 'code_name' %>
	</li>			
	
	<%= submit_tag l(:professional, :create_account)%>
</ul>
</fieldset>
<% end %>
