<p>
  <b>Name:</b>
  <%=h @employment_type.name %>
</p>

<% # show job postings %>
<h2>Job Postings</h2>
<table>
<%= render :partial => 'job_postings/job_posting_header' %>
<%= render :partial => 'job_postings/job_posting', :collection => @employment_type.job_postings %>
</table>
<% # end job postings %>

<%= link_to 'Edit', edit_employment_type_path(@employment_type) %> |
<%= link_to 'Back', employment_types_path %>
