<h1>Editing login</h1>

<% form_for(@login) do |f| %>
  <%= f.error_messages %>

  <p>
 <<%= f.label :user %><br />
    <%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to "Add user", new_user_path %>
  </p>
  <p>
    <%= f.label :geo_position %><br />
    <%= f.collection_select :geo_position_id, @geo_positions, :id, :latitude %>
	<br>
	<%= link_to "Add geo position", new_geo_position_path %>
  </p>
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @login %> |
<%= link_to 'Back', logins_path %>
