<h1>Editing post_code</h1>

<% form_for(@post_code) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :town %><br />
    <%= f.collection_select :town_id, @towns, :id, :name %>
	<br>
	<%= link_to l(:add_town), new_town_path %>
  </p>
  <p>
    <%= f.label :geo_position %><br />
    <%= f.collection_select :geo_position_id, @geo_positions, :id, :latitude %>
	<br>
	<%= link_to l(:add_geo_position), new_geo_position_path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @post_code %> |
<%= link_to 'Back', post_codes_path %>
