<h1>Listing post_codes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Town</th>
    <th>Geo position</th>
  </tr>

<% for post_code in @post_codes %>
  <tr>
    <td><%=h post_code.name %></td>
    <td><%=h post_code.town_id %></td>
    <td><%=h post_code.geo_position_id %></td>
    <td><%= link_to 'Show', post_code %></td>
    <td><%= link_to 'Edit', edit_post_code_path(post_code) %></td>
    <td><%= link_to 'Destroy', post_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post_code', new_post_code_path %>
