<p>
  <b>Name:</b>
  <%=h @trait.name %>
</p>
<p>
  <b>Lower Bound:</b>
  <%=h @trait.lower_bound %>
</p>
<p>
  <b>Upper Bound:</b>
  <%=h @trait.upper_bound %>
</p>
<p>
  <b>Type:</b>
  <%=h @trait.trait_type %>
</p>


<%= link_to 'Edit', edit_trait_path(@trait) %> |
<%= link_to 'Back', traits_path %>
