<h1>Listing phone_number_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for phone_number_type in @phone_number_types %>
  <tr>
    <td><%=h phone_number_type.name %></td>
    <td><%= link_to 'Show', phone_number_type %></td>
    <td><%= link_to 'Edit', edit_phone_number_type_path(phone_number_type) %></td>
    <td><%= link_to 'Destroy', phone_number_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New phone_number_type', new_phone_number_type_path %>
