
<fieldset>
<div class="progressbar"><%=l(:your_skills)%><div class="progresscounter"><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littleorangesquare"></div>
<div class="progresswording"><%=l(:professional, :progress_wording_two)%></div></div>
</div>
<p><%=l(:slider_instructions)%>. </p>
<br>
<ul id="skill-list" class="skills-list">
	
	<% @professional.personal_qualities.each do |pq| %>
		<% if pq.metric.class == Skill %>
		<% @pq = pq %>		
		<% form_for @pq.metric.name.to_sym, @pq, :url => {:action => :update_value}, :html => { :id => @pq.metric.id.to_s+'_form'} do |form| %>
			<%=form.hidden_field :value, {:size => 2} %>
			<%=form.hidden_field :id %>
			<%=hidden_field_tag 'object_name', @pq.metric.name %>
			<li class="skills_list_skill_item" id="skill_<%=@pq.metric.id%>">
				<label class="skillname"><%= pq.metric.display_name %></label>		
					<div class="removeskill"><a id="remove_<%=@pq.metric.id.to_s%>"><%=l(:remove)%></a></div>
				<%= render :partial => 'slider', :locals => {:name => @pq.metric.id, :value => @pq.value} %>
			
			</li>
			<% end %>
	
		<% end %>
	<% end %>
</ul>
<br>
<div class="addskillfieldset">
<fieldset>
<legend><%=l(:add_skill_legend)%></legend>
<p><%=l(:add_skill_instruction)%></p>
<ul>
<% form_for(:skill, :url => {:action => :add}) do |form| %>
  
	<li><%= text_field_with_auto_complete_jquery :skill, :name %>
	<%= submit_tag l(:skills, :add_skill )%></li> 
<% end %>
</ul>
</fieldset>
</div>
<div id="roundbuttoncontainer">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
 <div class="contentb">
        <div><%= link_to l(:skills, :done_skills), :action => :finalize %></div>
    </div>
<b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
</div>
</fieldset>