
<fieldset>

<p><b>Thanks for uploading the job description!</b></p>
<p>The following skills have been taken from the spec you uploaded.  Please move the sliders to indicate the level of proficiency required.</p>
<p>Need a skill not listed?  Use the box below to add it.</p>
<br>
<ul id="skill-list" class="skills-list">
	
	<% @job_posting.job_posting_requirements.each do |pq| %>
		<% if pq.metric.class == Skill %>
		<% @pq = pq %>		
		<% form_for @pq.metric.name.to_sym, @pq, :url => {:action => :update_value_job_posting_skills}, :html => { :id => @pq.metric.id.to_s+'_form'} do |form| %>
			<%=form.hidden_field :value, { :id => @pq.metric.id.to_s+"_value" } %>
			<%=form.hidden_field :id %>
			<%=hidden_field_tag 'object_name', @pq.metric.name %>
			<li class="skills_list_skill_item" id="skill_<%=@pq.metric.id%>">
				<label class="skillname"><%= pq.metric.display_name %></label>		
					<div class="removeskill"><a id="remove_<%=@pq.metric.id.to_s%>"><%=l(:remove)%></a></div>
				<%= render :partial => 'slider', :locals => {:name => @pq.metric.id, :value => @pq.value} %>
			
			</li>
			<% end %>
	
		<% end %>
	<% end %>
</ul>
<br>
<div class="addskillfieldset">
<fieldset>
<legend><%=l(:add_skill_legend)%></legend>
<p>Type any other specific, technical skills required below.  Soft skills ("Good with people", "Works well in a pressurized environment") should be entered on the next page.</p>
<ul>
<% form_for(:skill, :url => {:action => :add_job_posting_skills}) do |form| %>
  
	<li><%= text_field_with_auto_complete_jquery :skill, :name %>
	<%= submit_tag l(:skills, :add_skill )%></li> 
<% end %>
</ul>
</fieldset>
</div>
<div id="roundbuttoncontainer">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
 <div class="contentb">
        <div><%= link_to "That's all the skills we need", :action => :finalize_job_posting_skills %></div>
    </div>
<b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
</div>
</fieldset>