
<fieldset>
<legend>Need to edit your skills?</legend>
<fieldset>
<legend>Rating your Skills</legend>
<div id="bellcurveimage">
<%= image_tag("bellcurve.jpg") %>
</div>
<div id="bellcurvecontent">
<ul id ="needsbullets">
<li><b>0-20: Very limited experience</b>, rarely used or very new (very few users). </li><br />
<li><b>21-40: Some experience</b>, can handle many common tasks (most users with 1-3 years experience).</li><br />
<li><b>41-60: Solid professional experience</b>, can easily handle any routine tasks, works at a normal pace with few errors, comfortable tackling new tasks <b>(most full-time professionals fit in this category).</b> </li><br />
<li><b>61-80: Extremely proficient</b>, often lead developer or similar, able to easily perform all tasks and  sought out by others for their expertise (usually 7-10+ years experience).</li><br />
<li><b>81-100:  Known leader in skill community</b>, more qualified than almost any other users, develops unique solutions or functionality, known for expertise in area, speaks at conferences, heavily involved in developing new features, etc. (very few users).</li><br />
</ul>
</div>
</fieldset>

	<ul id="skill-list" class="skills-list">
	<% @professional.personal_qualities.each do |pq| %>
		<% if pq.metric.class == Skill %>
		<% @pq = pq %>		
		<% form_for @pq.metric.name.to_sym, @pq, :url => {:action => :update_value}, :html => { :id => @pq.metric.id.to_s+'_form'} do |form| %>
			<%=form.hidden_field :value, { :id => @pq.metric.id.to_s+"_value" } %>
			<%=form.hidden_field :id %>
			<%=hidden_field_tag 'object_name', @pq.metric.name %>
			<li class="skills_list_skill_item" id="skill_<%=@pq.metric.id%>">
				<label class="skillname"><%= pq.metric.display_name %></label>		
					<div class="removeskill"><a id="remove_<%=@pq.metric.id.to_s%>"><%=l(:remove)%></a></div>
				<%= render :partial => 'slider', :locals => {:name => @pq.metric.id, :value => @pq.value} %>
			
			</li>
			<% end %>
	
		<% end %>
	<% end %>
</ul>
<br>
<div class="addskillfieldset">
<fieldset>
<legend><%=l(:add_skill_legend)%></legend>
<p>Any skills you add on here should be specific and technical (a language, framework, etc.)  Personal qualities (assertive, client-facing, etc.) are covered in personal qualities, and any further details should be covered in your portfolio or in Three Questions. </p>
<ul>
<% form_for(:skill, :url => {:action => :edit_add}) do |form| %>
  
	<li><%= text_field_with_auto_complete :skill, :name, {}, {:method => :get} %></li
	<%= submit_tag l(:skills, :add_skill )%></li> 
<% end %>
</ul>
</fieldset>
</div>
<div id="roundbuttoncontainer">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
 <div class="contentb">
        <div><%= link_to "Back to my profile", :action => :my_details, :controller => :professionals %></div>
    </div>
<b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
</div>
</fieldset>