<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_names %><br />
    <%= f.text_field :middle_names %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    </p>
    <p> 
    <%= f.label :email_confirmation %> <br />
    <%= f.text_field :email_confirmation %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %> 
    </p> 
    <p> 
    <%= f.label :password_confirmation %> <br />
    <%= f.text_field :password_confirmation %> 
    </p> 
  <p>
    <%= f.label :code_name %><br />
    <%= f.text_field :code_name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :employer %><br />
    <%= f.collection_select :employer_id, @employers, :id, :name %>
	<br>
	<%= link_to "Add employer", :controller => "employers", :action => "new" %>
  </p>
  <p>
    <%= f.label :search_position %><br />
    <%= f.text_field :search_position %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
