<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Middle names:</b>
  <%=h @user.middle_names %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Code name:</b>
  <%=h @user.code_name %>
</p>

<p>
  <b>Type:</b>
  <%=h @user.type %>
</p>

<p>
  <b>Employer:</b>
  <%=h @user.employer.name unless @user.employer.nil? %>
</p>

<p>
  <b>Search position:</b>
  <%=h @user.search_position %>
</p>

<% # show phone numbers %>
<h2><%=l(:phone_numbers)%></h2>
<table>
<%= render :partial => 'phone_numbers/phone_number_header' %>
<%= render :partial => 'phone_numbers/phone_number', :collection => @user.phone_numbers %>
</table>
<% # end phone numbers %>

<% # show differentiator answers %>
<h2><%=l(:differentiator_answers)%></h2>
<table>
<%= render :partial => 'differentiator_answers/differentiator_answer_header' %>
<%= render :partial => 'differentiator_answers/differentiator_answer', :collection => @user.differentiator_answers %>
</table>
<% # end differentiator answers %>

<% # show work history %>
<h2><%=l(:work_history_items)%></h2>
<table>
<%= render :partial => 'work_history_items/work_history_header' %>
<%= render :partial => 'work_history_items/work_history_item', :collection => @user.work_history_items %>
</table>
<% # end work history %>

<% # show job applications %>
<h2><%=l(:job_applications)%></h2>
<table>
<%= render :partial => 'job_applications/job_application_header' %>
<%= render :partial => 'job_applications/job_application', :collection => @user.job_applications %>
</table>
<% # end job applications %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :controller => "users" %>
