<h1>New job_application</h1>

<% form_for(@job_application) do |f| %>
  <%= f.error_messages %>

  <p>
   	<%=f.label :user %><br />
  	<%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to "Add user", new_user_path %>
  </p>
  <p>
	<%=f.label :job_posting %><br />
 	<%= f.collection_select :job_posting_id, @job_postings, :id, :title %>
	<br>
	<%= link_to "Add job posting", new_job_posting_path %>
	</p>
	<p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', job_applications_path %>
