<h1>New job_application</h1>

<% form_for(@job_application) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :job_posting_id %><br />
    <%= f.text_field :job_posting_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', job_applications_path %>
