Your Skills:
<ul id="skill-list" class="skills-list">
	<% @professional.personal_qualities.each do |pq| %>
		<% if pq.metric.class == Skill %>
		<% @pq = pq %>
			<li class="skills-list skill-item">
			<% form_for :pq, :url => {:action => :update_value} do |form| %>
				<%= pq.metric.name %>
				<%=form.text_field :value, {:size => 2} %>
				<%=form.hidden_field :id %>
				<%= submit_tag "Update skill" %>
			<% end %>
			</li>
		<% end %>
	<% end %>
<% form_for(:skill, :url => {:action => :add}) do |form| %>
	<li><%= form.text_field :name, :update => :autocomplete_skill %></li>
	<%= submit_tag "Add skill"%> 
<% end %>
</ul>
<%= link_to "That's all my skills, thanks", :action => :finalize %>