<h1>New skill</h1>

<% form_for(@skill) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :lower_bound %><br />
    <%= f.text_field :lower_bound %>
  </p>
  <p>
    <%= f.label :upper_bound %><br />
    <%= f.text_field :upper_bound %>
  </p>
  <p>
    <%= f.label :other_names %><br />
    <%= f.text_field :other_names %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', skills_path %>
