<p>
  <b><%=l(:attachment_entity)%>:</b>
  <%=h @attachment.entity_id %>
</p>

<p>
  <b><%=l(:attachment_entity_type)%>:</b>
  <%=h @attachment.entity_type %>
</p>

<p>
  <b><%=l(:attachment_name)%>:</b>
  <%=h @attachment.name %>
</p>

<p>
  <b><%=l(:attachment_url)%>:</b>
  <%=h @attachment.url %>
</p>

<p>
  <b><%=l(:attachment_description)%>:</b>
  <%=h @attachment.description %>
</p>

<p>
  <b><%=l(:attachment_attachment)%>:</b>
  <%=h @attachment.attachment %>
</p>

<p>
  <b><%=l(:attachment_filename)%>:</b>
  <%=h @attachment.file_name %>
</p>

<p>
  <b><%=l(:attachment_content_type)%>:</b>
  <%=h @attachment.content_type %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
