<h1>Edit your Profile</h1>
<p>Your company profile is a way to tell jobseekers more about your company.  Please tell us more about yourselves below: </p>
<% form_for(:employer, :url => {:action => :save}) do |form| %>
<%=h @employer.name %>

<%=form.hidden_field :id %>
<p>
   <label for="employer_size">Company size</label><br />
   <%= form.text_field :size %>
 </p>

  <p>
    <label for="employer_tagline">One sentence description</label><br />
    <%= form.text_field :tagline %>
  </p>

  <p>
    <label for="employer_description">Complete description</label><br />
    <%= form.text_area :description %>
  </p>
  <p>Want to add <%= link_to "Three Questions", :controller => :three_questions, :action => :commence %> to your profile?</p>
    <%= form.submit "Edit my profile" %>
  </p>

  
<% end %>
