<h1>Edit your Profile</h1>
<p>Your company profile is a way to tell jobseekers more about your company.  Please tell us more about yourselves below: </p>
<% form_for(:employer, :url => {:action => :save}) do |form| %>
<%=h @employer.name %>

<%=form.hidden_field :id %>
<p>
   <label for="employer_size">Company size</label><br />
   <%= form.text_field :size %>
 </p>

  <p>
    <label for="employer_tagline">One sentence description</label><br />
    <%= form.text_field :tagline %>
  </p>

  <p>
    <label for="employer_description">Complete description</label><br />
    <%= form.text_area :description %>
  </p>
  
  <% unless @employer.images.nil? %>
  <fieldset>
  <legend>Images</legend>
  
  <table>
  <% for image in @employer.images %>
  <%= render :partial => 'images/image_preview.rhtml', :locals => { :image => image } %>
  <% end %>
  </table>

  </fieldset>
  <% end %>
    <%= form.submit "Save and view" %>
  </p>

<% end %>


