<h1><%=h @employer.name %></h1>
<b><%=h @employer.tagline unless @employer.tagline.nil? %></b>
<br>
<Fieldset>
<legend>Fast Facts</legend>
<b>Size: </b><%=h @employer.size unless @employer.size.nil? %> employees<br>
<b>Industry: </b><%=h @industry.name unless @industry.name.nil? %><br>
<b>Location: </b> Something about location should go here too. 
</fieldset>
<fieldset>
<legend>About <%=h @employer.name %></legend>

<pre width=90><%=h @employer.description %></pre>

<h2>3 Questions </h2>
<% for answer in @answers %>
  <%= render :partial => 'three_questions/view_question_and_answer.rhtml', :locals => {:answer => answer} %>
  <% end %>
</fieldset>

<h2>Location</h2>
<%= @map.div(:width => 810, :height => 350) %>

