<h1><%=h @employer.name %></h1>

<Fieldset>
<legend>Fast Facts</legend>

<div id="fastfactsright">

<span id="detailsheader">Details: </span>
<br><br>
<b>Short Description: </b><%=h @employer.tagline unless @employer.tagline.nil? %><br>
<b>Size: </b><%=h @employer.size unless @employer.size.nil? %> employees<br>
<b>Industry: </b><%=h @industry.name unless @industry.name.nil? %>

</div>

<div id="fastfactsleft">
<h2>Location:</h2>
<%= @map.div(:width => 400, :height => 300) %>
</div>

</fieldset>


<fieldset>
<legend>About <%=h @employer.name %></legend>

<pre width=90><%=h @employer.description %></pre>

<fieldset>
<legend>3 Questions </legend>
<% for answer in @answers %>
  <%= render :partial => 'three_questions/view_question_and_answer.rhtml', :locals => {:answer => answer} %>
  <% end %>
</fieldset>
</fieldset>
<fieldset>
<legend>Images</legend>
<div id="images">
<%= render :partial => 'images/image.rhtml', :collection => @employer.images %>
</div>
</fieldset>