<h1>Editing Educational Institutions</h1>

<% form_for(@educational_institution) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.collection_select :town_id, @towns, :id, :name  %><br />
    <%= link_to "Add town", new_town_path %>
  </p>
  <p>
    <%= f.collection_select :country_id, @countries, :id, :name %><br />
    <%= link_to "Add country", new_country_path %>
  </p>
  <p>
    <%= f.collection_select :geo_position_id, @geo_positions, :id, :latitude %><br />
    <%= link_to "Add geo position", new_geo_position_path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @educational_institution %> |
<%= link_to 'Back', educational_institutions_path %>
