<h1>Listing educational_institutions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Town</th>
    <th>Country</th>
    <th>Geo position</th>
  </tr>

<% for educational_institution in @educational_institutions %>
  <tr>
    <td><%=h educational_institution.name %></td>
    <td><%=h educational_institution.url %></td>
    <td><%=h educational_institution.town_id %></td>
    <td><%=h educational_institution.country_id %></td>
    <td><%=h educational_institution.geo_position_id %></td>
    <td><%= link_to 'Show', educational_institution %></td>
    <td><%= link_to 'Edit', edit_educational_institution_path(educational_institution) %></td>
    <td><%= link_to 'Destroy', educational_institution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New educational_institution', new_educational_institution_path %>
