<h1>New degree</h1>

<% form_for(@degree) do |f| %>
  <%= f.error_messages %>

  <p>
   	<%= f.label :user %><br \>
	<%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to l(:add_user), new_user_path %>
  </p>
  <p>
   	<%= f.label :educational_institution %><br \>
    <%= f.collection_select :educational_institution_id, @educational_institutions, :id, :name %>
	<br>
	<%= link_to l(:add_educational_institution), new_educational_institution_path %>
	
  </p>
  <p>
	   	<%= f.label :educational_qualification %><br \>
    <%= f.collection_select :educational_qualification_id, @educational_qualifications, :id, :name %>
	<br>
	<%= link_to l(:add_educational_qualification), new_educational_qualification_path %>
  </p>
  <p>
   	<%= f.label :education_concentration %><br \>
  <%= f.collection_select :education_concentration_id, @education_concentrations, :id, :name %>
	<br>
	<%= link_to l(:add_education_concentration), new_education_concentration_path %>
  </p>
  <p>
	<%= f.label :educational_level %><br \>
    <%= f.collection_select :educational_level_id, @educational_levels, :id, :level %>
	<br>
	<%= link_to l(:add_educational_level), new_educational_level_path %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', degrees_path %>
