<h1>New degree</h1>

<% form_for(@degree) do |f| %>
  <%= f.error_messages %>

  <p>
   	<%= f.collection_select :user, @user, :name, :name %>
	<br>
	<% link_to l(:add_user), new_user_path %>
  </p>
  <p>
    <%= f.collection_select :educational_institution, @educational_institution, :name, :name %>
	<br>
	<% link_to l(:add_educational_institution), new_educational_institutional_path %>
  </p>
  <p>
    <%= f.collection_select :educational_qualification, @educational_qualification, :name, :name %>
	<br>
	<% link_to l(:add_educational_qualification), new_educational_qualification_path %>
  </p>
  <p>
  <%= f.collection_select :educational_concentration, @educational_concentration, :name, :name %>
	<br>
	<% link_to l(:add_educational_concentration), new_educational_concentration_path %>
  </p>
  <p>
    <%= f.collection_select :educational_level, @educational_level, :name, :name %>
	<br>
	<% link_to l(:add_educational_level, new_educational_level_path %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', degrees_path %>
