<p>
  <b>User:</b>
  <%=h @degree.user_id %>
</p>

<p>
  <b>Educational institution:</b>
  <%=h @degree.educational_institution_id %>
</p>

<p>
  <b>Educational qualification:</b>
  <%=h @degree.educational_qualification_id %>
</p>

<p>
  <b>Education concentration:</b>
  <%=h @degree.education_concentration_id %>
</p>

<p>
  <b>Educational Level:</b>
  <%=h @educational_level_id %>
</p>


<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>
