<h1><%=l(:drop_us_a_line)%></h1>
<p><%=l(:problems)%></p>
<% form_for(@contact) do |f| %>
  <%= f.error_messages %>
<table>
    <tr>
        <td><label for="email_name"><%=l(:name_contact)%>:</label></td>
        <td><%= text_field "email", "name", :size => 30 %></td>
    </tr>
    <tr>
        <td><label for="email_address"><%=l(:email_contact)%>:</label></td>
        <td><%= text_field "email", "address", :size => 30 %></td>
    </tr>
    <tr>
        <td><label for="email_subject"><%=l(:subject_contact)%>:</label></td>
        <td><%= text_field "email", "subject", :size => 30 %></td>
    </tr>
    <tr>
        <td><label for="email_body"><%=l(:message_contact)%>:</label></td>
        <td><%= text_area "email", "body", :rows => 10, :cols => 60 %></td>
    </tr>
</table>



  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contacts_path %>
