<h1>New phone_number</h1>

<% form_for(@phone_number) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :phone_number_type %><br />
    <%= f.collection_select :phone_number_type_id, @phone_number_types, :id, :name %>
	<br>
	<%= link_to "Add phone number type", new_phone_number_type_path %>
  </p>
  <p>
    <%= f.label :country %><br />
   	<%= f.collection_select :country_id, @countries, :id, :name %>
	<br>
	<%= link_to "Add country", new_country_path %>
  </p>
  <p>
    <%= f.label :user %><br />
   	<%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to "Add user", new_user_path %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', phone_numbers_path %>
