<h1>Editing administrative_division</h1>

<% form_for(@administrative_division) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :country_id %><br />
    <%= f.text_field :country_id %>
  </p>
  <p>
    <%= f.label :geo_position_id %><br />
    <%= f.text_field :geo_position_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @administrative_division %> |
<%= link_to 'Back', administrative_divisions_path %>
