<h1>Edit Administrative Division</h1>

<% form_for(@administrative_division) do |f| %>
  <%= f.error_messages %>
<p>
	<%= f.label :name %><br \>
	<%=f.text_field :name %>
	</p>
	<p>

	<%=f.label :country %><br />
	<%= f.collection_select :country_id, @countries, :id, :name %>
	<br>
	<%= link_to "Add country", new_country_path %>

	<br>
	<%=f.label :geo_position_id %><br />
   	<%= f.collection_select :geo_position_id, @geo_positions, :id, :latitude %>
	<br>
	<%= link_to "Add geo position", new_geo_position_path %>
	
	</p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @administrative_division %> |
<%= link_to 'Back', administrative_divisions_path %>
