<h1>Listing administrative_divisions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Geo position</th>
  </tr>

<% for administrative_division in @administrative_divisions %>
  <tr>
    <td><%=h administrative_division.name %></td>
    <td><%=h administrative_division.country.name %></td>
    <td><%=h administrative_division.geo_position.name %></td>
    <td><%= link_to 'Show', administrative_division %></td>
    <td><%= link_to 'Edit', edit_administrative_division_path(administrative_division) %></td>
    <td><%= link_to 'Destroy', administrative_division, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New administrative_division', new_administrative_division_path %>
