<h1>Editing educational_qualification</h1>

<% form_for(@educational_qualification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :educational_level %><br \>
    <%= f.collection_select :educational_level_id, @educational_levels, :id, :level %>
	<br>
	<%= link_to l(:add_educational_level), new_educational_level_path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @educational_qualification %> |
<%= link_to 'Back', educational_qualifications_path %>
