<h1>New educational_qualification</h1>

<% form_for(@educational_qualification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', educational_qualifications_path %>
