<h1>Editing job_application_attachment</h1>

<% form_for(@job_application_attachment) do |f| %>
  <%= f.error_messages %>

  <p>
  <%=f.label :job_application %><br />
	<%= f.collection_select :job_application_id, @job_applications, :id, :job_title%>
	<br>
	<%= link_to l(:add_job_application), new_job_application_path %>
  </p>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @job_application_attachment %> |
<%= link_to 'Back', job_application_attachments_path %>
