<% form_for(:code_sample, :url => {:action => :answer}) do |form| %>
  <div class="error-messages" id="error-messages-for-code_sample">
  	<%=form.error_messages%>
  </div>
  
  <fieldset>
    <legend>Your Question</legend>
 <p>Very brief directions go here. </p>
    <ul>
      <li>
      <%= @start_time %>
        <label class="code_sample_question"><%= session[:current_question].code_sample_question %></label>
        <%=form.text_area :code_sample %>
      </li>
      <li><label>Language used:</label><%= form.text_field "language_used" %></li>
      <li><%=form.submit "I'm all done"%></li>
    </ul>
  </fieldset>
  <%=form.hidden_field :code_sample_question_id %>
  <%=form.hidden_field :user_id %>
<% end %>