
<div id="newsfeed">

		<h1>Welcome to Jobyssey!</h1>

    <p>Thanks for joining! This is your Newsfeed page. Check this space for announcements of any new features we have added to enhance your Jobyssey experience. </p>
    <p>We are continually attracting high calibre professionals to the site so make sure all your live jobs are up to date, and your public profile is completed and looking good.</p> 
    <ul>
    <li>Edit your <%= link_to "Company Profile", :controller => :company_profiles, :action => :edit, :id => session[:employer] %> to let users learn about you</li>
    <li><%= link_to "Upload an image", :controller => :images, :action => :upload_image %> to attract applicants</li>
    <li>Answer <%= link_to "Three Questions", :controller => :three_questions, :action => :commence %> a jobseekser might ask about your company.  </li>
    <li><%= link_to "Add a new job", :controller => :job, :action => :index %> or <%= link_to "review your existing jobs and contact jobseekers", :controller => :job, :action => :view_my_jobs %></li>
    </ul>
    
    </div>		

		

			<div id="startpage">

				<H1>Welcome!</h1>
					
					<fieldset>
						<Legend>Features coming soon:</legend>
            <p>We will be adding some cool features in order to aid your search for the right professional. One really exciting development is our upcoming testing feature, whereby professionals can complete an online verified skills test in their given area of expertise. As an employer you will be able to view the test and results of every professional that matches your job description. Stay tuned! </p>
            <p><%= link_to "Drop us a line!", :controller => :messages, :action => :client_questions %></p>
					</fieldset>
					
			
					
						</div>


