
<div id="newsfeed">

		<h1>Welcome to Jobyssey!</h1>

    <p>Thanks for joining! This is your Newsfeed page. Check this space for announcements of any new features we have added to enhance your Jobyssey experience. </p>
    <p>We are continually attracting high calibre professionals to the site so make sure all your live jobs are up to date, and your public profile is completed and looking good.</p> 
    <ul>
    <li>Edit your <%= link_to "Company Profile", :controller => :company_profiles, :action => :edit, :id => session[:employer] %> to let users learn about you</li>
    <li>Add link here to images</li>
    <li>Add link here to new job</li>
    </ul>
    
    </div>		

		

			<div id="startpage">

				<H1><%=l(:professional, :start_welcome)%></h1>
					
					<fieldset>
						<Legend><%=l(:professional, :coming_soon)%></legend>
            <p><%=l(:new_features)%>! </p>
            <p><%=l(:professional, :input)%> <a href="/contacts/new"><%=l(:professional, :drop_us_a_line)%></a> <%=l(:professional, :suggestions)%>  </p>
					</fieldset>
					
			
					
						</div>


