
<div id="newsfeed">

		<h1>Welcome to Jobyssey!</h1>
		
    <p><%=l(:professional, :thanks_text_employer)%></p>
    <p><%=l(:professional, :continually_attracting)%></p> 
    <ul>
    <li><%=l(:professional, :answer)%> <a href="/three_questions/start"><%=l(:professional, :three_questions)%></a> <%=l(:professional, :know_you_employer)%></li>
    <li><%=l(:professional, :samples_employer)%> <a href="/images/upload_image"><%=l(:professional, :portfolio_employer)%></a> <%=l(:professional, :attract_professionals)%></li>
    <li><%=l(:professional, :add_job)%></a>- <%=l(:professional, :start_finding)%>!</li>
    </ul>
    
    </div>		

		

			<div id="startpage">

				<H1><%=l(:professional, :start_welcome)%></h1>
					
					<fieldset>
						<Legend><%=l(:professional, :coming_soon)%></legend>
            <p><%=l(:new_features)%>! </p>
            <p><%=l(:professional, :input)%> <a href="/contacts/new"><%=l(:professional, :drop_us_a_line)%></a> <%=l(:professional, :suggestions)%>  </p>
					</fieldset>
					
			
					
						</div>


