<p>
  <b>Name:</b>
  <%=h @employer.name %>
</p>

<p>
  <b>Tagline:</b>
  <%=h @employer.tagline %>
</p>

<p>
  <b>Size:</b>
  <%=h @employer.size %>
</p>

<p>
  <b>Description:</b>
  <%=h @employer.description %>
</p>

<p>
  <b>Industry:</b>
  <%=h @employer.industry_id %>
</p>

<p>
  <b>Search position:</b>
  <%=h @employer.search_position %>
</p>

<p>
  <b>Geo position:</b>
  <%=h @employer.geo_position_id %>
</p>

<% # show differentiator answers %>
<h2><%=l(:differentiator_answers)%></h2>
<table>
<%= render :partial => 'differentiator_answers/differentiator_answer_header' %>
<%= render :partial => 'differentiator_answers/differentiator_answer', :collection => @employer.differentiator_answers %>
</table>
<% # end differentiator answers %>

<% # show roles %>
<h2><%=l(:roles)%></h2>
<table>
<%= render :partial => 'roles/role_header' %>
<%= render :partial => 'roles/role', :collection => @employer.roles %>
</table>
<% # end roles%>

<% # show work history- why do employers have work histories? %>
<h2><%=l(:work_history_items)%></h2>
<table>
<%= render :partial => 'work_history_items/work_history_header' %>
<%= render :partial => 'work_history_items/work_history_item', :collection => @employer.work_history_items %>
</table>
<% # end work history %>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
