<p>
  <b><%=l(:employer_name)%>:</b>
  <%=h @employer.name %>
</p>

<p>
  <b><%=l(:employer_tagline)%>:</b>
  <%=h @employer.tagline %>
</p>

<p>
  <b><%=l(:employer_size)%>:</b>
  <%=h @employer.size %>
</p>

<p>
  <b><%=l(:employer_description)%>:</b>
  <%=h @employer.description %>
</p>

<p>
  <b><%=l(:employer_industry)%>:</b>
  <%=h @employer.industry_id %>
</p>

<p>
  <b><%=l(:employer_searchposition)%>:</b>
  <%=h @employer.search_position %>
</p>

<p>
  <b><%=l(:employer_geoposition)%>:</b>
  <%=h @employer.geo_position_id %>
</p>
<p>
  <b>Employer ID%:</b>
  <%=h @employer.id %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
