<h1>Listing working_times</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for working_time in @working_times %>
  <tr>
    <td><%=h working_time.name %></td>
    <td><%= link_to 'Show', working_time %></td>
    <td><%= link_to 'Edit', edit_working_time_path(working_time) %></td>
    <td><%= link_to 'Destroy', working_time, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New working_time', new_working_time_path %>
