<p>
  <b>Name:</b>
  <%=h @working_time.name %>
</p>

<h2>Job Postings</h2>
<table>
<%= render :partial => 'job_postings/job_posting_header' %>
<%= render :partial => 'job_postings/job_posting', :collection => @working_time.job_postings %>
</table>

<%= link_to 'Edit', edit_working_time_path(@working_time) %> |
<%= link_to 'Back', working_times_path %>
