
<h1><%=l(:portfolio_edit)%></h1>

<% form_for(:attachment , :url => {:action => :update, :id => @attachment.id}) do |form| %>

<ul>
<li>
<label><%=l(:portfolio_name)%>:</label>
	<%= form.text_field "name" %>
</li>
<li>
<label><%=l(:portfolio_url)%>:</label>
	<%= form.text_field "url" %>
</li>
<li>
<label><%=l(:portfolio_description)%>:</label>
	<%= form.text_field "description" %>
</li>

</fieldset>
	<%= submit_tag %>

<% end %>


 