<h1><%=l(:portfolio)%></h1>
<p><%=l(:portfolio_instructions)%> </p>
<p>Don't have any good past work on hand?  <%= link_to "Try our coding problems!", :controller => :code_sample_question, :action => :explanation %></p>
<p>Want to add some lines of code for hiring managers to review?  <%= link_to "Add your own code samples", :controller => :code_sample_question, :action => :own_code %>
<% form_for(:attachment , :url => {:action => :add_a_link}) do |form| %>
<div class="error-messages" id="error-messages-for-professional-signup">
	<%=form.error_messages%>
</div>


<table>
<Caption><%=l(:portfolio_caption)%></caption>
  <tr>
    <th><%=l(:portfolio_name)%></th>
    <th><%=l(:portfolio_url)%></th>
    <th><%=l(:portfolio_description)%></th>
  </tr>
  <%= render :partial => 'view_link', :collection => @user.attachments %>
</table>
<fieldset>
<legend><%=l(:portfolio_add)%></legend>
<br>
<ul>
<li>
<label><%=l(:portfolio_name)%></label>
	<%= form.text_field "name" %>
</li>
<li>
<label><%=l(:portfolio_url)%></label>
	<%= form.text_field "url" %>
</li>
<li>
<label><%=l(:portfolio_description)%></label>
		<%= form.text_area(:description, :rows => 5) %>
</li>

</fieldset>
	<%= submit_tag %>

<% end %>
