<h1>Portfolio</h1>
<p>Link to past projects you've worked on or online portfolions to let prospective employers get to know you better. </p>
<% form_for(:attachment , :url => {:action => :add_a_link}) do |form| %>
<div class="error-messages" id="error-messages-for-professional-signup">
	<%=form.error_messages%>
</div>


<table>
<Caption>My Projects</caption>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Description</th>
  </tr>
  <%= render :partial => 'view_link', :collection => @user.attachments %>
</table>
<fieldset>
<legend>Add a Project</legend>
<br>
<ul>
<li>
<label>Name</label>
	<%= form.text_field "name" %>
</li>
<li>
<label>URL</label>
	<%= form.text_field "url" %>
</li>
<li>
<label>Description</label>
	<%= form.text_field "description" %>
</li>

</fieldset>
	<%= submit_tag %>

<% end %>
