<h1>Editing personal_quality</h1>

<% form_for(@personal_quality) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to l(:add_user), new_user_path %>
  </p>
  <p>
    <%= f.label :metric %><br />
   	<%= f.collection_select :metric_id, @metrics, :id, :name %>
	<br>
	<%= link_to l(:add_metric), new_metric_path %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @personal_quality %> |
<%= link_to 'Back', personal_qualities_path %>
