<h1>Listing personal_questions</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for personal_question in @personal_questions %>
  <tr>
    <td><%=h personal_question.name %></td>
    <td><%= link_to 'Show', personal_question %></td>
    <td><%= link_to 'Edit', edit_personal_question_path(personal_question) %></td>
    <td><%= link_to 'Destroy', personal_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New personal_question', new_personal_question_path %>
