<h1>Addresses</h1>

<table>
  <tr>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Town</th>
    <th>Geo position</th>
  </tr>

<% for address in @addresses %>
  <tr>
    <td><%=h address.address1 %></td>
    <td><%=h address.address2 %></td>
    <td><%=h address.town.name unless address.town.nil? %>
    <td><%=h address.geo_position.name unless address.geo_position.nil? %></td>
    <td><%= link_to 'Show', :action => "show", :id => address %></td>
    <td><%= link_to 'Edit', :action => "edit", :id => address %></td>
    <td><%= link_to 'Destroy', :action => "destroy", :id => address, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New address', :action => "new" %>
