<h1><%=l(:list_address)%></h1>

<table>
  <tr>
    <th><%=l(:address_one)%></th>
    <th><%=l(:address_two)%></th>
    <th><%=l(:town)%></th>
    <th><%=l(:geo_location)%></th>
  </tr>

<% for address in @addresses %>
  <tr>
    <td><%=h address.address1 %></td>
    <td><%=h address.address2 %></td>
    <td><%=h address.town.name unless address.town.nil? %>
    <td><%=h address.geo_position.name unless address.geo_position.nil? %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New address', new_address_path %>
