<h1>New address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>


	<br>

<p>
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%= f.collection_select :town, @town, :name, :name %>
	<br>
	<% link_to l(:add_town), new_town_path %>
  </p>
  <p>
   	<%= f.collection_select :geo_position, @geo_position, :name, :name %>
	<br>
	<% link_to l(:add_geo_position), new_geo_position_path %>

  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', addresses_path %>
