<h1>New Address</h1>

<% form_for(:address, @address, :url => { :action => :create } ) do |f| %>
  <%= f.error_messages %>
<p>
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%=f.label :town_id %><br />
	<%= f.collection_select :town_id, @towns, :id, :name %>
	<br>
	<%= link_to "Add town", :controller => "towns", :action => "new" %>
  </p>
  <p>
	 <%=f.label :geo_position_id %><br />
   	<%= f.collection_select :geo_position_id, @geo_positions, :id, :latitude %>
	<br>
	<%= link_to "Add geo position", :controller => "geoposition", :action => "new" %>

  </p>
  
  <p>
     <%= f.label :employer %><br />
   	<%= f.collection_select :employer_id, @employers, :id, :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

