<p>
  <b>Address one:</b>
  <%=h @address.address1 %>
</p>

<p>
  <b>Address two:</b>
  <%=h @address.address2 %>
</p>

<p>
  <b>Town:</b>
  <%=h @address.town.name %>
</p>

<p>
  <b>Geo position:</b>
  <%=h @address.geo_position_id %>
</p>


<%= link_to 'Edit', :action => "edit", :id => @address %> |
<%= link_to 'Back', :action => "index" %>
