<p>
  <b><%=l(:address_one)%>:</b>
  <%=h @address.address1 %>
</p>

<p>
  <b><%=l(:address_two)%>:</b>
  <%=h @address.address2 %>
</p>

<p>
  <b><%=l(:town)%>:</b>
  <%=h @address.town_id %>
</p>

<p>
  <b><%=l(:geo_location)%>:</b>
  <%=h @address.geo_position_id %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
