<fieldset>
<div class="progressbar"><%=l(:your_personality)%><div class="progresscounter"><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littleorangesquare"></div>
<div class="progresswording"><%=l(:professional, :progress_wording_three)%></div></div>
</div>

<div class="personalitypagetop">
<p><%=l(:tell_us_text)%></p>
<span class="personalityinstructions"><%=l(:personality_instruction_one)%></span><br>
<span class="personalityinstructions"><%=l(:personality_instruction_two)%></span>
<br>
<br>
<br>
<ul id="personality-list" class="personalities-list">
	<span class="personalitybigorange"><%= @trait.name %></span><br>
	<span class="personalitybigorangecounter"><%= session[:counter].to_s + ' of ' + @total.to_s %></span>
</div>
	<% form_for :personal_quality, :url => {:action => :update}, :html => { :id => 'form_'+@personal_quality.metric.id.to_s} do |form| %>
<div class="personalitypagebottom">
	<div id="lowertrait"><%= @trait.lower_bound %></div>
	<div id="uppertrait"><%= @trait.upper_bound %></div>
		<%= render :partial => 'slider', :locals => {:name => @personal_quality.metric.id, :value => @personal_quality.value} %>
	<%=form.hidden_field :value, {:size => 2} %>
	<%=form.hidden_field :metric_id %>
<br>
<br>
<br>
		<%= submit_tag l(:traits, :define_trait)%>
</div>
<% end %>


</ul>


</fieldset>
