<fieldset>
<div class="progressbar">Your Personality<div class="progresscounter"><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littleorangesquare"></div>
<div class="progresswording">3 of 4</div></div>
</div>

<div class="personalitypagetop">
<p>Tell us a bit about your work personality so we can show you jobs from companies that suit you.  For each quality, adjust the slider to reflect your work personality or work culture preference.</p>
<span class="personalityinstructions">The further you drag the slider, the more strongly you feel about it</span>
<br>
<br>
<br>
<ul id="personality-list" class="personalities-list">
	<span class="personalitybigorange"><%= @trait.name %></span><br>
	<span class="personalitybigorangecounter"><%= session[:counter].to_s + ' of ' + @total.to_s %></span>
</div>
	<% form_for :personal_quality, :url => {:action => :update}, :html => { :id => 'form_'+@personal_quality.metric.id.to_s} do |form| %>
<div class="personalitypagebottom">
	<div id="lowertrait"><%= @trait.lower_bound %></div>
		<%= render :partial => 'slider', :locals => {:name => @personal_quality.metric.id, :value => @personal_quality.value} %>
	<%=form.hidden_field :value, {:size => 2} %>
	<%=form.hidden_field :metric_id %>
	<div id="uppertrait"><%= @trait.upper_bound %></div>
<br>
<br>
<br>
		<%= submit_tag l(:traits, :define_trait)%>
</div>
<% end %>


</ul>


</fieldset>
