

<div class="personalitypagetop">
<p>Tell us a bit about the type of work personality that would suit this job so we can show you professionals that match. For each quality, adjust the slider to reflect the ideal work personality or work culture preference.</p>
<span class="personalityinstructions">The further you drag the slider, the more strongly you feel about it.</span><br><br>
<span class="personalityinstructions">Release the slider to move on to the next trait...</span>
<br>
<br>
<br>
<ul id="personality-list" class="personalities-list">
	<span class="personalitybigorange"><%= @trait.name %></span><br>
	<span class="personalitybigorangecounter"><%= session[:counter].to_s + ' of ' + @total.to_s %></span>
</div>
	<% form_for :job_posting_requirement, :url => {:action => :update_job_personality}, :html => { :id => 'form_'+@job_posting_requirement.metric.id.to_s} do |form| %>
<div class="personalitypagebottom">
	<div id="lowertrait"><%= @trait.lower_bound %></div>
	<div id="uppertrait"><%= @trait.upper_bound %></div>
		<%= render :partial => 'slider', :locals => {:name => @job_posting_requirement.metric.id, :value => @job_posting_requirement.value} %>
		<%=form.hidden_field :value, { :id => @job_posting_requirement.metric.id.to_s+"_value" } %>
	<%=form.hidden_field :metric_id %>
<br>
<br>
<br>
		<%= submit_tag "That's fine right there, thanks"%>
</div>
<% end %>


</ul>


