
<fieldset>
<legend>Edit personality</legend>
<p>Content here!</p>
<br>

	<ul id="skill-list" class="skills-list">
				<table>
	<% for personal_quality in @personal_qualities %>	
		<% if personal_quality.metric.class == Trait %>	
		<% form_for personal_quality.metric.name.to_sym, @pq, :url => {:action => :update_value}, :html => { :id => personal_quality.id.to_s+'_form'} do |form| %>
			<%=form.hidden_field :value, { :id => personal_quality.id.to_s+"_value" } %>
			<%=form.hidden_field :id %>
			<%=hidden_field_tag 'object_name', personal_quality.metric.name %>
			

			<tr>
				<td><label class="editskillname"><%= personal_quality.metric.name %></label></td>		
				<td><%= personal_quality.metric.lower_bound %></td>

				<td><%= render :partial => 'slider', :locals => {:name => personal_quality.metric.id, :value => personal_quality.value} %></td>
				<td><%= personal_quality.metric.upper_bound %></td>
				<%=form.hidden_field :value, { :id => personal_quality.metric.id.to_s+"_value" } %>
      	<%=form.hidden_field :metric_id %>
				</tr>
		<% end %>
	<% end %>
	<% end %>
	</table>
</ul>
<br>

<div id="roundbuttoncontainer">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
 <div class="contentb">
        <div><%= link_to "Update Personality Traits", :action => :save_edits %></div>
    </div>
<b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
</div>
</fieldset>