<h1>New differentiator_question</h1>

<% form_for(@differentiator_question) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
	<%= select_tag "differentiator_question[type]", options_for_select(@differentiator_question.types) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', differentiator_questions_path %>
