<p>
  <b>Type:</b>
  <%=h @differentiator_question.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @differentiator_question.name %>
</p>
<% # show differentiator answers %>
<h2>Differentiator Answers</h2>
<table>
<%= render :partial => 'differentiator_answers/differentiator_answer_header' %>
<%= render :partial => 'differentiator_answers/differentiator_answer', :collection => @differentiator_question.differentiator_answers %>
</table>
<% # end differentiator answers %>

<%= link_to 'Edit', edit_differentiator_question_path(@differentiator_question) %> |
<%= link_to 'Back', differentiator_questions_path %>
