<div id=jobviewtop>

 <b><%=h @job_posting.title %></b> with <b><%=h @job_posting.employer.name unless @job_posting.employer.nil? %></b>

</div>

<fieldset>
  <legend>Description</legend>
  <%=h @job_posting.description %>
</fieldset>

<div id=jobviewbottom>
<p>
  <b>Search position:</b>
  <%=h @job_posting.search_position %>
</p>

<p>
  <b>Maximum salary:</b>
  <%=h @job_posting.maximum_salary %>
</p>

<p>
  <b>Minimum salary:</b>
  <%=h @job_posting.minimum_salary %>
</p>

<p>
  <b>Education required:</b>
  <%=h @job_posting.education_required %>
</p>

<p>
  <b>Employment type:</b>
  <%=h @job_posting.employment_type.name %>
</p>

<p>
  <b>Working time:</b>
  <%=h @job_posting.working_time.name %>
</p>
</div>
<%= link_to "Apply for this job:", :controller => "apply", :action => "apply" %>
