<div id=jobviewcontainer>

<div id="jobviewtop">
<b><%=h @job_posting.title %></b> with <span id=employername><%= link_to @job_posting.employer.name, :controller => "company_profiles", :action => "view" %></a></span>
</div>
<fieldset>
<legend>Fast Facts and Skills Required</legend>
  
  <div id="skillsright">
<h2>Skills Required</h2>
<table>
	<% for skill in @job_posting.my_skills %>
		<%= render :partial => "skillset/view_skill", :locals => {:skill => skill} %>
	<% end %>
</table>
</div>
<div id="benefits">
<p> 
	<b>Maximum salary:</b>
 	<%=h @job_posting.maximum_salary.to_i %>
 	</p>
 	<p>
 	<b>Minimum salary:</b>
 	<%=h @job_posting.minimum_salary.to_i %>
  </p>
  <p>
  <b>Education required:</b>
  <%=h @job_posting.education_required %> (see description)
  </p>
  <p>
  <b>Employment type:</b>
  <%=h @job_posting.employment_type.name %>
  </p>
  <p>
  <b>Working time:</b>
  <%=h @job_posting.working_time.name %>
</p>

  </p>
</div>  

</fieldset>

<fieldset>
  <legend>Description</legend>
  <pre width = 90><%=h @job_posting.description %></pre>



</fieldset>

<fieldset>
<legend>Personality Traits and 3 Questions</legend>
<div id="personalqualitiesleft">
<h2>Personal Qualities</h2>
<table>
	<% for personal_quality in @job_posting.my_traits %>
		<%= render :partial => "personality/details", :locals => {:personal_quality => personal_quality} %>
	<% end %>
</table>
</div>


</fieldset>

<div id="roundbuttoncontainer">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
 <div class="contentb">
        <div><%= link_to "Apply for this job", :controller => "apply", :action => "apply" %></div>
    </div>
<b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>

</div>

</div>

