<p>
  <b>Title:</b>
  <%=h @job_posting.title %>
</p>

<p>
  <b>Employer:</b>
  <%=h @job_posting.employer_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @job_posting.description %>
</p>

<p>
  <b>Search position:</b>
  <%=h @job_posting.search_position %>
</p>

<p>
  <b>Maximum salary:</b>
  <%=h @job_posting.maximum_salary %>
</p>

<p>
  <b>Minimum salary:</b>
  <%=h @job_posting.minimum_salary %>
</p>

<p>
  <b>Education required:</b>
  <%=h @job_posting.education_required %>
</p>

<p>
  <b>Employment type:</b>
  <%=h @job_posting.employment_type.name %>
</p>

<p>
  <b>Working time:</b>
  <%=h @job_posting.working_time.name %>
</p>


