<% form_for(:answer, :url => {:action => :answer}) do |form| %>
  <div class="error-messages" id="error-messages-for-professional-signup">
  	<%=form.error_messages%>
  </div>
  
  <fieldset>
    <legend>Three Questions</legend>
 <p>The questions below are similar to ones you might be asked at an interview.  Once you've answered them, they'll be added to your profile. </p>
    <ul>
      <li>
        <label class="answer_name"><%=@answer.differentiator_question.name%></label>
        <%=form.text_area :name %>
      </li>
      <li><%=form.submit "Hit Me"%></li>
    </ul>
  </fieldset>
  <%=form.hidden_field :differentiator_question_id %>
  <%=form.hidden_field :user_id %>
<% end %>