<% form_for(:answer, :url => {:action => :answer}) do |form| %>
  <div class="error-messages" id="error-messages-for-professional-signup">
  	<%=form.error_messages%>
  </div>
  
  <fieldset>
    <legend>Please answer our questions three, and a magic prize shall await thee</legend>
 <p>Answer the following questions to give potential employers and insight in to how you work and an idea of your future aspirations. Remember to include details as this will improve your chances of securing an interview, but also stick to the question asked...</p>
    <ul>
      <li>
        <label class="answer_name"><%=@answer.differentiator_question.name%></label>
        <%=form.text_area :name %>
      </li>
      <li><%=form.submit "Hit Me"%></li>
    </ul>
  </fieldset>
  <%=form.hidden_field :differentiator_question_id %>
  <%=form.hidden_field :user_id %>
<% end %>