<h1>New country</h1>

<% form_for(@country) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrative_division_name %><br />
    <%= f.text_field :administrative_division_name %>
  </p>
  <p>
    <%= f.label :post_code_name %><br />
    <%= f.text_field :post_code_name %>
  </p>
  <p>
    <%= f.label :post_code_format %><br />
    <%= f.text_field :post_code_format %>
  </p>
  <p>
    <%= f.label :phone_number_format %><br />
    <%= f.text_field :phone_number_format %>
  </p>
  <p>
    <%= f.label :dialing_code %><br />
    <%= f.text_field :dialing_code %>
  </p>
  <p>
    <%= f.label :geo_position_id %><br />
    <%= f.text_field :geo_position_id %>
  </p>
  <p>
    <%= f.label :use_administrative_division %><br />
    <%= f.check_box :use_administrative_division %>
  </p>
  <p>
    <%= f.label :use_post_code %><br />
    <%= f.check_box :use_post_code %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', countries_path %>
