<h1>Listing job_application_states</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th>Workflow</th>
    <th>Job application status type</th>
  </tr>

<% for job_application_state in @job_application_states %>
  <tr>
    <td><%=h job_application_state.name %></td>
    <td><%=h job_application_state.order %></td>
    <td><%=h job_application_state.workflow_id %></td>
    <td><%=h job_application_state.job_application_status_type.name %></td>
    <td><%= link_to 'Show', job_application_state %></td>
    <td><%= link_to 'Edit', edit_job_application_state_path(job_application_state) %></td>
    <td><%= link_to 'Destroy', job_application_state, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job_application_state', new_job_application_state_path %>
