<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account %><br />
    <%= f.collection_select :account_id, @accounts, :id, :id %>
	<br>
	<%= link_to "Add account", new_account_path %>
  </p>
  <p>
    <%= f.label :transaction_type %><br />
    <%= f.text_field :transaction_type %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :job_application %><br />
    <%= f.collection_select :job_application_id, @job_applications, :id, :name %>
	<br>
	<%= link_to "Add job application", new_job_application_path %>
  
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>
