<h1>Editing differentiator_answer</h1>

<% form_for(@differentiator_answer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :differentiator_question %>
	<%= f.collection_select :differentiator_question_id, @differentiator_questions, :id, :name %>
	<br>
	<% link_to "Add differentiator question", new_differentiator_question_path %>
  </p>
  <p>
	 <%= f.label :employer %>
    <%= f.collection_select :employer_id, @employers, :id, :name %>
	<br>
	<% link_to "Add employer", new_employer_path %>
  </p>
  <p>
	 <%= f.label :user %>
    <%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<% link_to "Add user", new_user_path %>
  </p>
  <p>
	 <%= f.label :job_posting %>
  	<%= f.collection_select :job_posting_id, @job_postings, :id, :name %>
	<br>
	<% link_to "Add job posting", new_job_posting_path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @differentiator_answer %> |
<%= link_to 'Back', differentiator_answers_path %>
