<h1>Listing differentiator_answers</h1>

<table>
  <tr>
    <th>Differentiator question</th>
    <th>Employer</th>
    <th>User</th>
    <th>Job posting</th>
    <th>Name</th>
  </tr>

<% for differentiator_answer in @differentiator_answers %>
  <tr>
    <td><%=h differentiator_answer.differentiator_question_id %></td>
    <td><%=h differentiator_answer.employer_id %></td>
    <td><%=h differentiator_answer.user_id %></td>
    <td><%=h differentiator_answer.job_posting_id %></td>
    <td><%=h differentiator_answer.name %></td>
    <td><%= link_to 'Show', differentiator_answer %></td>
    <td><%= link_to 'Edit', edit_differentiator_answer_path(differentiator_answer) %></td>
    <td><%= link_to 'Destroy', differentiator_answer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New differentiator_answer', new_differentiator_answer_path %>
