<h1>Editing work_history_item</h1>

<% form_for(@work_history_item) do |f| %>
  <%= f.error_messages %>

   <p>
    <%=f.label :user %><br />
   	<%= f.collection_select :user_id, @users, :id, :name %>
	<br>
	<%= link_to "Add user", new_user_path %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
     <%=f.label :job_title %><br />
 	<%= f.collection_select :job_title_id, @job_titles, :id, :name %>
	<br>
	<%= link_to "Add job title", new_job_title_path %>
  </p>
  <p>
     <%=f.label :geo_position %><br />
 	<%= f.collection_select :geo_position_id, @geo_positions, :id, :latitude %>
	<br>
	<%= link_to "Add geo position", new_geo_position_path %>
  </p>
  <p>
     <%=f.label :administrative_division %><br />
 	<%= f.collection_select :administrative_division_id, @administrative_divisions, :id, :name %>
	<br>
	<%= link_to "Add administrative division", new_administrative_division_path %>
  </p>
  <p>
     <%=f.label :town %><br />
 	<%= f.collection_select :town_id, @towns, :id, :name %>
	<br>
	<%= link_to "Add town", new_town_path %>
  </p>
  <p>
     <%=f.label :country %><br />
 	<%= f.collection_select :country_id, @countries, :id, :name %>
	<br>
	<%= link_to "Add country", new_country_path %>
  </p>
  <p>
	 <%=f.label :employer %><br />
	<%= f.collection_select :employer_id, @employers, :id, :name %>
	<br>
	<%= link_to "Add employer", new_employer_path %>
  </p>
  <p>
	 <%=f.label :employment_type %><br />
	<%= f.collection_select :employment_type_id, @employment_types, :id, :name %>
	<br>
	<%= link_to "Add employment type", new_employment_type_path %>
  </p>
  <p>
  	 <%=f.label :working_time %><br />
 	<%= f.collection_select :working_time_id, @working_times, :id, :name %>
	<br>
	<%= link_to "Add working time", new_working_time_path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @work_history_item %> |
<%= link_to 'Back', work_history_items_path %>
