<h1>Edit Account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :employer_id %><br />
    <%= f.collection_select :employer, @employers, :name, :name %>
	<br />
	<%= link_to "Add employer", :controller => 'admin/employers', :action => "new" %>
  </p>
  <p>
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', :controller => 'admin/account', :action => 'index' %>
