<h1>New account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :employer_id %><br />
    <%= f.collection_select :employer, @employers, :name, :name %>
	<br />
	<%= link_to l(:add_employer), new_employer_path %>
  </p>
  <p>
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', accounts_path %>
